<div class="m-5">
  <h1 class="">socket.io</h1>
  <hr />

  <div class="">
    <input type="text" name="chatbox" id="chatbox" />
  </div>

  <div class="">
    <ul id="messageLogs"></ul>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>