<div class="text-white mt-3">
  <h2 class="">Bienvenidos </h2>
  <hr />
  <p> {{info}}</p>

  <div id="listProducts" class="d-flex flex-wrap gap-4"></div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="/static/js/home.js"></script>