<div>
  <h2>RealTimeProducts</h2>
  <hr />

  <form action="" id="formProduct" class="form-group d-flex flex-column p-3 gap-2">
    <input type="text" name="title" id="title" placeholder="title" />
    <input type="text" name="price" id="price" placeholder="price" />
    <input type="text" name="code" id="code" placeholder="code" />
    <input type="text" name="stock" id="stock" placeholder="stock" />
    <input type="text" name="category" id="category" placeholder="category" />
    <input type="text" name="description" id="description" placeholder="description" />
    <input type="text" name="status" id="status" placeholder="status" />
    <input type="submit" value="enviar" />
  </form>

  <div id="listProducts" class="d-flex flex-wrap gap-4 p-3"></div>

</div>

<script src="socket.io/socket.io.js"></script>
<script src="/static/js/realTime.js"></script>