<div class="text-white">
  <h1>Register</h1>
  <form action="/register" method="post">
    <input type="text" name="name" placeholder="Nombre" />
    <input type="text" name="email" placeholder="Email" />
    <input type="text" name="pass" placeholder="Contraseña" />
    <button type="submit"></button>
  </form>
</div>