<div class="text-white">
  <h1>Register</h1>
  <hr />
  <form action="/register" method="post" class="">
    <div class="my-3">
      <input type="text" name="name" id="" placeholder="Nombre" />
    </div>
    <div class="my-3">
      <input type="text" name="email" id="" placeholder="Email" />
    </div>
    <div class="my-3">
      <input type="text" name="pass" id="" placeholder="Contraseña" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>