<div class="text-white">
  <h1>Register with cookies</h1>
  <hr />
  <form id="cookieForm" action="/register" method="post" class="" onsubmit="return false">
    <div class="my-3">
      <input type="text" name="username" id="" placeholder="Nombre" />
    </div>
    {{! <div class="my-3">
      <input type="text" name="email" id="" placeholder="Email" />
    </div> }}
    <div class="my-3">
      <input type="text" name="pass" id="" placeholder="Contraseña" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <button onclick="getCookie()"> Ver Cookie</button>
</div>

<script src="/static/js/cookieSetter.js"></script>