<div class="text-white">
  <h1 class="">Ups, ha ocurrido un problema, vuelve a intentar </h1>
  <hr />

  <div class="">
    <p class="{{style}}">{{message}}</p>
  </div>
  <a href="/" class="text-white">Volver al inicio</a>
</div>