
<div class="text-white">
  <h1>Recupera tu contraseña</h1>
  <hr />

  <p class="{{style}}">{{message}}</p>

  <form id="recuperacionForm" action="/recuperar/nueva" method="post" class="">
    <div class="my-3">
      <p>Ingresa nueva contraseña, no puede ser igual a la anterior</p>
      <input type="text" name="contrasenaNueva" id="" placeholder="Nueva contraseña" />
      <input type="password" name="validacionNueva" id="" placeholder="Repite tu contraseña" />
    </div>
    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
  </form>
  <a href="/" class="text-white " >Volver al inicio</a>
</div>


{{! <script src="/static/js/index.js"></script> }}