<div class="text-white mt-3">
  <h2 class="">Bienvenid@ </h2>
  <hr />
  <div id="listProducts" class="d-flex flex-wrap gap-4"></div>

  <p class="{{style}}">{{message}}</p>

  <div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://monochrome-watches.com/wp-content/uploads/2018/03/Jaquet-Droz-Grande-Second-Tribute-Yellow-Gold-Baselworld-2018-2.jpg');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
            <h1 class="text-uppercase">
              Un mundo de relojes te espera.<br /><span className="text-[hsl(218,81%,75%)]"> </span>
            </h1>        
            <h4 class="mb-3">La puntualidad nunca fue tan estilizada. Encuentra relojes clásicos y modernos que reflejen tu buen gusto</h4>
        <a class="btn btn-outline-light btn-lg" href="/views/products" role="button">Catálogo</a>
      </div>
    </div>
  </div>
</div>

</div>

{{! <script src="socket.io/socket.io.js"></script> }}
{{! <script src="/static/js/home.js"></script> }}