<div class="text-white">
  <h1>Login</h1>
  <hr />
  <p class="{{style}}">{{message}}</p>
  <form id="cookieForm" action="/session/passport/login" method="post" class="">
    <div class="my-3">
      <input type="text" name="email" id="" placeholder="Email" />
    </div>
    <div class="my-3">
      <input type="text" name="password" id="" placeholder="Contraseña" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  <a href="/session/github/github" class="text-white hover:underline hover: decoration-solid" >Login Github </a>
  <br />
  <a href="/recuperar" class="text-white">Recuperar Contraseña </a>
  <br />
  <a href="/views/register" class="text-white " >Regístrate</a>
  {{! <button onclick="getCookie()"> Ver Cookie</button> }}
</div>

{{! <script src="/static/js/index.js"></script> }}