<div class="text-white">
  <h1>Register</h1>
  <hr />
  <form action="/passport/register" method="POST" class="">
    <div class="my-3">
      <input type="text" name="nickname" id="" placeholder="Usuario" />
    </div>
    <div class="my-3">
      <input type="text" name="first_name" id="" placeholder="Nombre" />
    </div>
    <div class="my-3">
      <input type="text" name="last_name" id="" placeholder="Apellido" />
    </div>
    <div class="my-3">
      <input type="text" name="age" id="" placeholder="Edad" />
    </div>
    <div class="my-3">
      <input type="text" name="email" id="" placeholder="Email" />
    </div>
    <div class="my-3">
      <input type="text" name="password" id="" placeholder="Contraseña" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  <a href="/views/login" class="text-white">Ya tengo mi cuenta</a>

  {{! <button onclick="getCookie()"> Ver Cookie</button> }}
</div>