@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

body {
  background-color: theme('colors.ramaBlack');
  height: 100%;
}

p {
  font-weight: 300;
  font-size: 14px;
}

.ramHover {
  color: black;
  text-align: center;
}

.ramHover:hover {
  color: theme('colors.ramaWhite'); 
  border-radius: 2rem;
  stroke: white;
  fill: none;
}

.ramHover2:hover {
  color: #ffffffb9;
  transition: all 4
}

.ramButton {
  background-color: #c8a62e;
  box-shadow: none;
  padding: 6px 12px;
  border-radius: 0.5rem;
}

.ramButton:hover {
  background-color: #9b9b9b;
  box-shadow: #222;
}

.imgDemo {}

@media (max-width: 930px) {
  hero {
    /* filter: brightness(50%); */
    background: rgba(0, 0, 0, 0.347);
    background-image: url('https://cdn.shopify.com/s/files/1/0133/9195/3977/articles/Gemma_Blog_Featured_Image-10.png?v=1659622430');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
  }

}